<form class="{{cssClass}}" autocomplete="off">
  <div class="item">
    <div class="sheet-body">
      <header class="header">
        <h1> <input id="dark-text" name="name" type="text" value="{{this.item.name}}" /> </h1>
      </header>
      <div class="also">
        <h3> Also:
          <input id="dark-text" style="width: 100px" name="system.also.value" type="text" value="{{this.item.also.value}}" />
        </h3>
      </div>
      <div class="quote">
        <h4> Quote: <input type="text" name="system.quote.value" value="{{this.item.quote}}" /> </h4>
      </div>
      <div class="description">
        <h4> Description: <input type="text" name="system.description.value" value="{{this.item.description.value}}" /> </h4>
      </div>
      <div class="questions">
        <h4> Questions: <input type="text" name="system.questions.value" value="{{this.item.questions.value}}" /> </h4>
      </div>
      <div class="free-benefits">
        <h4> Free Benefits: <input type="text" name="system.freeBenefits.value" value="{{this.item.freeBenefits.value}}" /> </h4>
      </div>
      <div class="skills">
        <h4> Skills: <input type="text" name="system.skills.value" value="{{this.item.skills.value}}" /> </h4>
      </div>
    </div>
  </div>
</form>
