<section class="affinities monster-affinities">
  <h3>{{localize "BIO.AFFINITIES"}} <i class="fas fa-sparkles"></i></h3>
  <div class="affinity-boxes">
    <div class="affinity-box affinity-physical {{this.actor.system.affinities.physical.class}}">
      <i class="fa-regular fa-sword"></i>
      <span>{{localize this.actor.system.affinities.physical.value}}</span>
    </div>
    <div class="affinity-box affinity-air {{this.actor.system.affinities.air.class}}">
      <i class="fa-light fa-wind"></i>
      <span>{{localize this.actor.system.affinities.air.value}}</span>
    </div>
    <div class="affinity-box affinity-bolt {{this.actor.system.affinities.bolt.class}}">
      <i class="fa-light fa-bolt"></i>
      <span>{{localize this.actor.system.affinities.bolt.value}}</span>
    </div>
    <div class="affinity-box affinity-dark {{this.actor.system.affinities.dark.class}}">
      <i class="fa-solid fa-moon"></i>
      <span>{{localize this.actor.system.affinities.dark.value}}</span>
    </div>
    <div class="affinity-box affinity-earth {{this.actor.system.affinities.earth.class}}">
      <i class="fa-solid fa-leaf"></i>
      <span>{{localize this.actor.system.affinities.earth.value}}</span>
    </div>
    <div class="affinity-box affinity-fire {{this.actor.system.affinities.fire.class}}">
      <i class="fa-regular fa-fire"></i>
      <span>{{localize this.actor.system.affinities.fire.value}}</span>
    </div>
    <div class="affinity-box affinity-ice {{this.actor.system.affinities.ice.class}}">
      <i class="fa-regular fa-snowflake"></i>
      <span>{{localize this.actor.system.affinities.ice.value}}</span>
    </div>
    <div class="affinity-box affinity-light {{this.actor.system.affinities.light.class}}">
      <i class="fa-regular fa-sparkles"></i>
      <span>{{localize this.actor.system.affinities.light.value}}</span>
    </div>
    <div class="affinity-box affinity-poison {{this.actor.system.affinities.poison.class}}">
      <i class="fa-regular fa-flask-round-poison"></i>
      <span>{{localize this.actor.system.affinities.poison.value}}</span>
    </div>
  </div>
</section>
