<section class='affinities' id="monsterAffinities">
  <h3>{{localize "BIO.AFFINITIES"}} <i class="fas fa-sparkles"></i></h3>
  <h4>
    {{localize "BIO.VULNERABLE"}}
    <input name="system.bio.vulnerabilities.value" type="text" value="{{this.actor.bio.vulnerabilities.value}}" />
  </h4>
  <h4>
    {{localize "BIO.RESISTANT"}}
    <input name="system.bio.resistances.value" type="text" value="{{this.actor.bio.resistances.value}}" />
  </h4>
  <h4>
    {{localize "BIO.IMMUNE"}}
    <input name="system.bio.immunities.value" type="text" value="{{this.actor.bio.immunities.value}}" />
  </h4>
  <h4>
    {{localize "BIO.ABSORBS"}}
    <input name="system.bio.absorbs.value" type="text" value="{{this.actor.bio.absorbs.value}}" />
  </h4>
</section>
