<div class="cheat-sheet-tab">
  <div class="actions">
    <h3>{{localize "DESCRIPTION.ACTION"}}<i class="fas fa-hands"></i> </h3>
    <ul>
      <div class="cheat-sheet-item"><i class="fas fa-sword"></i>{{localize "ACTION.ATTACK"}}</div>
      <div class="cheat-sheet-item"><i class="fas fa-helmet-battle"></i>{{localize "ACTION.EQUIPMENT"}}</div>
      <div class="cheat-sheet-item"><i class="fas fa-shield"></i>{{localize "ACTION.GUARD"}}</div>
      <div class="cheat-sheet-item"><i class="fas fa-person-falling"></i>{{localize "ACTION.HINDER"}}</div>
      <div class="cheat-sheet-item"><i class="fas fa-backpack"></i>{{localize "ACTION.INVENTORY"}}</div>
      <div class="cheat-sheet-item"><i class="fas fa-list"></i>{{localize "ACTION.OBJECTIVE"}}</div>
      <div class="cheat-sheet-item"><i class="fas fa-crystal-ball"></i>{{localize "ACTION.SPELL"}}</div>
      <div class="cheat-sheet-item"><i class="fas fa-eye"></i>{{localize "ACTION.STUDY"}}</div>
      <div class="cheat-sheet-item"><i class="fas fa-person-running"></i>{{localize "ACTION.SKILL"}}</div>
      <div class="cheat-sheet-item"><i class="fas fa-block-question"></i>{{localize "ACTION.OTHER"}}</div>
    </ul>
  </div>
  <div class="opportunities">
    <h3>{{localize "DESCRIPTION.OPPORTUNITY"}}<i class="fas fa-slot-machine"></i> </h3>
    <ul>
      <div class="cheat-sheet-item"><i class="fas fa-dice"></i>{{localize "OPPORTUNITY.ADVANTAGE"}}</div>
      <div class="cheat-sheet-item"><i class="fas fa-virus"></i>{{localize "OPPORTUNITY.AFFLICTION"}}</div>
      <div class="cheat-sheet-item"><i class="fas fa-handshake"></i>{{localize "OPPORTUNITY.BONDING"}}</div>
      <div class="cheat-sheet-item"><i class="fas fa-user-secret"></i>{{localize "OPPORTUNITY.FAUX_PAS"}}</div>
      <div class="cheat-sheet-item"><i class="fas fa-money-check"></i>{{localize "OPPORTUNITY.FAVOR"}}</div>
      <div class="cheat-sheet-item"><i class="fas fa-circle-info"></i>{{localize "OPPORTUNITY.INFORMATION"}}</div>
      <div class="cheat-sheet-item"><i class="fas fa-compass-slash"></i>{{localize "OPPORTUNITY.LOST_ITEM"}}</div>
      <div class="cheat-sheet-item"><i class="fas fa-clock"></i>{{localize "OPPORTUNITY.PROGRESS"}}</div>
      <div class="cheat-sheet-item"><i class="fas fa-tornado"></i>{{localize "OPPORTUNITY.PLOT_TWIST"}}</div>
      <div class="cheat-sheet-item"><i class="fas fa-magnifying-glass"></i>{{localize "OPPORTUNITY.SCAN"}}</div>
      <div class="cheat-sheet-item"><i class="fas fa-luchador-mask"></i>{{localize "OPPORTUNITY.UNMASK"}}</div>
    </ul>
  </div>
</div>
