<div class="main-tab">
  <div class="left-content">
    <div class="pronouns">
      <h3>
        {{localize "BIO.PRONOUNS"}}
        <input id="dark-text" style="width: 100px" name="system.bio.pronouns.value" type="text" value="{{this.actor.bio.pronouns.value}}" />
      </h3>
    </div>

    <div class="points hit-points">
      <h4>
        {{localize "BIO.HIT_POINTS"}}
        <input id="number-input" type="number" name="system.baseAttribute.baseHitPoints.value" value="{{this.actor.attributes.baseHitPoints.value}}" /> / <input id="number-input" type="number" name="system.baseAttribute.baseHitPoints.max" value="{{this.actor.attributes.baseHitPoints.max}}" />
      </h4>
    </div>

    <div class="points mind-points">
      <h4>
        {{localize "BIO.MIND_POINTS"}}
        <input id="number-input" type="number" name="system.baseAttribute.baseMindPoints.value" value="{{this.actor.attributes.baseMindPoints.value}}" /> / <input id="number-input" type="number" name="system.baseAttribute.baseMindPoints.max" value="{{this.actor.attributes.baseMindPoints.max}}" />
      </h4>
    </div>

    <div class="attributes-and-status-effects">
      <h3 class="header">{{localize "BIO.ATTRIBUTES_AND_STATUS_EFFECTS"}}<i class="fas fa-hand-fist"></i></h3>
      <div class="attribute-stats dexterity">
        <p class="attribute">{{localize "ATTRIBUTE.DEXTERITY"}}</p>
        <p id="calculated-attribute-value"> d{{this.actor.dexterity}} </p>
        <i class="fas fa-slash rotated"></i>
        <div>
          <input id="number-input" type="number" step=2 min=6 max=12 name="system.baseAttribute.baseDexterity.value" value="{{this.actor.attributes.baseDexterity.value}}" />
        </div>
        <div>
          <input type="checkbox" id="slow" data-dtype="Boolean" name="system.condition.slow.value" {{checked this.actor.conditions.slow.value}} />
          <label for="slow">{{localize "STATUS_EFFECT.SLOW"}}</label>
        </div>
      </div>
      <div class="attribute-stats insight">
        <p class="attribute">{{localize "ATTRIBUTE.INSIGHT"}}</p>
        <p id="calculated-attribute-value"> d{{this.actor.insight}} </p>
        <i class="fas fa-slash rotated"></i>
        <div>
          <input id="number-input" type="number" step=2 min=6 max=12 name="system.baseAttribute.baseInsight.value" value="{{this.actor.attributes.baseInsight.value}}" />
        </div>
        <div>
          <input type="checkbox" id="dazed" data-dtype="Boolean" name="system.condition.dazed.value" {{checked this.actor.conditions.dazed.value}} />
          <label for="dazed">{{localize "STATUS_EFFECT.DAZED"}}</label>
        </div>
      </div>
      <div class="attribute-stats might">
        <p class="attribute">{{localize "ATTRIBUTE.MIGHT"}}</p>
        <p id="calculated-attribute-value"> d{{this.actor.might}}</p>
        <i class="fas fa-slash rotated"></i>
        <div>
          <input id="number-input" type="number" step=2 min=6 max=12 name="system.baseAttribute.baseMight.value" value="{{this.actor.attributes.baseMight.value}}" />
        </div>
        <div>
          <input type="checkbox" id="weak" data-dtype="Boolean" name="system.condition.weak.value" {{checked this.actor.conditions.weak.value}} />
          <label for="weak">{{localize "STATUS_EFFECT.WEAK"}}</label>
        </div>
      </div>
      <div class="attribute-stats willpower">
        <p class="attribute">{{localize "ATTRIBUTE.WILLPOWER"}}</p>
        <p id="calculated-attribute-value"> d{{this.actor.willpower}} </p>
        <i class="fas fa-slash rotated"></i>
        <div>
          <input id="number-input" type="number" step=2 min=6 max=12 name="system.baseAttribute.baseWillpower.value" value="{{this.actor.attributes.baseWillpower.value}}" />
        </div>
        <div>
          <input type="checkbox" id="shaken" data-dtype="Boolean" name="system.condition.shaken.value" {{checked this.actor.conditions.shaken.value}} />
          <label for="shaken">{{localize "STATUS_EFFECT.SHAKEN"}}</label>
        </div>
      </div>
      <div class="attribute-stats enraged">
        <input type="checkbox" id="enraged" data-dtype="Boolean" name="system.condition.enraged.value" {{checked this.actor.conditions.enraged.value}} />
        <label for="enraged">{{localize "STATUS_EFFECT.ENRAGED"}}</label>
      </div>
      <div class="attribute-stats poisoned">
        <input type="checkbox" id="poisoned" data-dtype="Boolean" name="system.condition.poisoned.value" {{checked this.actor.conditions.poisoned.value}} />
        <label for="poisoned">{{localize "STATUS_EFFECT.POISONED"}}</label>
      </div>
    </div>

    <div class="traits-section">
      <h3>{{localize "BIO.TRAITS"}}<i class="fas fa-fingerprint"></i> </h3>
      <div class="traits">
        <div class="trait-with-answer">
          <h4>{{localize "BIO.IDENTITY"}}
            <input name="system.bio.identity.value" type="text" value="{{this.actor.bio.identity.value}}" />
          </h4>
        </div>
        <div class="trait-with-answer">
          <h4>{{localize "BIO.THEME"}}
            <input name="system.bio.theme.value" type="text" value="{{this.actor.bio.theme.value}}" />
          </h4>
          <h4>{{localize "BIO.ORIGIN"}}
            <input name="system.bio.origin.value" type="text" value="{{this.actor.bio.origin.value}}" />
          </h4>
        </div>
        <div class="trait-with-answer">
          <p>
          <input
              style='font-weight: bold; font-style: italic; color: gray'
              name="system.bio.quote.value"
              type="text"
              value="{{this.actor.bio.quote.value}}"
              placeholder={{localize "BIO.QUOTE"}}/>
          </p>
        </div>
      </div>
    </div>
  </div>

  <section class="right-sidebar">
    <img class="profile-img" src="{{this.actor.img}}" data-edit="img" />
  </section>

  <footer class="footer">
    <div class="bond-section">
      {{> "systems/fabula-ultima/templates/actor/character/parts/bonds.hbs" }}
    </div>
    <div class="fabula-points">
      <h3 class="tooltip-right">
        {{localize "BIO.FABULA_POINTS"}}
        <i class="fas fa-meteor"></i>
        <span class="tooltip-text">{{localize "FABULA_POINTS.GAIN"}}</span>
      </h3>
      <input id="number-input" type="number" name="system.bio.fabulaPoints.value" value="{{this.actor.bio.fabulaPoints.value}}" />
      <div class="fabula-li">
        <i class="fas fa-file-pen"></i>
        {{localize "FABULA_POINTS.ALTER_STORY"}}
      </div>
      <div class="fabula-li">
        <i class="fas fa-user-group"></i>
        {{localize "FABULA_POINTS.INVOKE_BOND"}}
      </div>
      <div class="fabula-li">
        <i class="fas fa-camera-rotate"></i>
        {{localize "FABULA_POINTS.INVOKE_TRAIT"}}
      </div>
      <div class="fabula-li">
        <i class="fas fa-person-running"></i>
        {{localize "FABULA_POINTS.USE_SKILL"}}
      </div>
    </div>

    <div class="inventory-points">
      <h3 class="tooltip-left">
        {{localize "BIO.INVENTORY_POINTS"}}
        <i class="fas fa-sack-xmark"></i>
        <span class="tooltip-text">{{localize "INVENTORY.GAIN"}}</span>
      </h3>
      <div class="inventory-points-fields">
        <p class="inventory-points-header">{{localize "BIO.IP"}}</p>
        <input id="number-input" type="number" name="system.baseAttribute.baseInventoryPoints.value" value="{{this.actor.attributes.baseInventoryPoints.value}}" />
        <i class="fas fa-slash rotated"></i>
        <input id="number-input" type="number" name="system.baseAttribute.baseInventoryPoints.max" value="{{this.actor.attributes.baseInventoryPoints.max}}" />
      </div>
      <div class="inventory-li">
        <p> <img src="systems/fabula-ultima/assets/assorted/redpot.png" width="20" height="20" style="border: none" />{{localize "INVENTORY.REMEDY"}}</p>
      </div>
      <div class="inventory-li">
        <p> <img src="systems/fabula-ultima/assets/assorted/bluepot.png" width="20" height="20" style="border: none" />{{localize "INVENTORY.ELIXIR"}}</p>
      </div>
      <div class="inventory-li">
        <p> <img src="systems/fabula-ultima/assets/assorted/yellowpot.png" width="20" height="20" style="border: none" />{{localize "INVENTORY.TONIC"}}</p>
      </div>
      <div class="inventory-li">
        <i class="fas fa-bolt"></i>
        {{localize "INVENTORY.ELEMENTAL_SHARD"}}
      </div>
      <div class="inventory-li">
        <i class="fas fa-tent"></i>
        {{localize "INVENTORY.MAGIC_TENT"}}
      </div>
    </div>
    <div class="glossary">
      <h3>{{localize "DESCRIPTION.GLOSSARY"}}<i class="fas fa-book-bookmark"></i> </h3>
      <ul>
        <li>{{localize "DESCRIPTION.HIGH_ROLL"}}</li>
        <li>{{localize "DESCRIPTION.FUMBLE"}}</li>
        <li>{{localize "DESCRIPTION.CRIT"}}</li>
        <li>{{localize "DESCRIPTION.DIE_SIZE"}}</li>
        <li>{{localize "DESCRIPTION.VULNERABILITY"}}</li>
        <li>{{localize "DESCRIPTION.RESISTANCE"}}</li>
      </ul>
    </div>
    <div class="experience">
      <h3>{{localize "BIO.EXPERIENCE_AND_LEVEL"}}<i class="fas fa-seedling"></i> </h3>
      <div class="experience-fields" >
        <div><label>{{localize "BIO.LEVEL"}}<input id="number-input" name="system.bio.level.value" type="number" value="{{this.actor.bio.level.value}}"></input></label></div>
        <div><label>{{localize "BIO.EXPERIENCE"}}<input id="number-input" name="system.bio.experience.value" type="number" value="{{this.actor.bio.experience.value}}"></input> </label></div>
      </div>
    </div>
    <div class="zenit">
      <h3>{{localize "BIO.ZENIT"}}<i class="fas fa-coins"></i> </h3>
      <input id="number-input" name="system.bio.zenit.value" type="number" value="{{this.actor.bio.zenit.value}}" />
    </div>
  </footer>
</div>
