<form class="{{cssClass}}" autocomplete="off">
  <div class="character">
    <div class="sheet-body">
      <header class="header">
        <h1> <input id="dark-text" name="name" type="text" value="{{this.actor.name}}" /> </h1>
      </header>
      <div class="tab-section">
        <div class="sheet-tabs tabs row" data-group="primary">
          <b class="tab-item" data-tab="main">{{localize "TAB.MAIN"}}</b>
          {{!-- <b class="tab-item" data-tab="classes">{{localize "TAB.CLASSES"}}</b> --}}
          <b class="tab-item" data-tab="cheat-sheet">{{localize "TAB.CHEAT_SHEET"}}</b>
        </div>
        <div class="tab" data-group="primary" data-tab="main">
          {{> systems/fabula-ultima/templates/actor/monster/sheets-tabs/main-tab.hbs}}
        </div>
        {{!-- <div class="tab" data-group="primary" data-tab="classes">
          {{> systems/fabula-ultima/templates/actor/character/sheets-tabs/classes-tab.hbs}}
        </div> --}}
        <div class="tab" data-group="primary" data-tab="cheat-sheet">
          {{> systems/fabula-ultima/templates/actor/character/sheets-tabs/cheat-sheet.hbs}}
        </div>
      </div>
    </div>
  </div>
</form>
