<h3> {{localize "BOND.PLURAL"}} <i class="fas fa-link"></i> </h3>
<ol class="items-list items bonds">
  <li class="item flexrow items-header">
    <div class="item-name">{{localize "BOND.TARGET"}}</div>
    <div class="item-name">{{localize "BOND.RESPECT"}}</div>
    <div class="item-name">{{localize "BOND.TRUST"}}</div>
    <div class="item-name">{{localize "BOND.LIKING"}}</div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create item" data-type="bond"><i class="fas fa-plus"></i> {{localize "BOND.ADD"}}</a>
    </div>
  </li>
  {{#each bonds as |bond id|}}
    <li class="item flexrow bond" data-item-id="{{bond._id}}">
      <div class="item-name">
        <h4><input class="bond.name" name="bond.who" type="text" value="{{bond.system.who}}" placeholder="Name"/></h4>
      </div>

      <div class="flexcol">
        {{{ feelingChoice bond.system.respect "respect" "admiration" }}}
        {{{ feelingChoice bond.system.respect "respect" "inferiority" }}}
      </div>

      <div class="flexcol">
        {{{ feelingChoice bond.system.trust "trust" "loyalty" }}}
        {{{ feelingChoice bond.system.trust "trust" "mistrust" }}}
      </div>

      <div class="flexcol">
        {{{ feelingChoice bond.system.liking "liking" "affection" }}}
        {{{ feelingChoice bond.system.liking "liking" "hatred" }}}
      </div>

      <div class="item-controls">
        <a class="item-control item-delete" title="{{localize 'BOND.DELETE'}}"><i class="fas fa-trash"></i></a>
      </div>
    </li>
  {{/each}}
</ol>
