<div class="experience">
  <h3>{{localize "BIO.EXPERIENCE_AND_LEVEL"}}<i class="fas fa-seedling"></i> </h3>
  <div class="experience-fields" >
    <div><label>{{localize "BIO.LEVEL"}}<input class="number-input" name="system.bio.level.value" type="number" value="{{this.actor.bio.level.value}}"></input></label></div>
    <div><label>{{localize "BIO.EXPERIENCE"}}<input class="number-input" name="system.bio.experience.value" type="number" value="{{this.actor.bio.experience.value}}"></input> </label></div>
  </div>
</div>
