<section class="fabula-points">
  <h3 class="tooltip-right">
    {{localize "BIO.FABULA_POINTS"}}
    <i class="fas fa-meteor"></i>
    <span class="tooltip-text">{{localize "FABULA_POINTS.GAIN"}}</span>
  </h3>
  <input class="number-input" type="number" name="system.bio.fabulaPoints.value" value="{{this.actor.bio.fabulaPoints.value}}" />
  <div class="fabula-li">
    <i class="fas fa-file-pen"></i>
    {{localize "FABULA_POINTS.ALTER_STORY"}}
  </div>
  <div class="fabula-li">
    <i class="fas fa-user-group"></i>
    {{localize "FABULA_POINTS.INVOKE_BOND"}}
  </div>
  <div class="fabula-li">
    <i class="fas fa-camera-rotate"></i>
    {{localize "FABULA_POINTS.INVOKE_TRAIT"}}
  </div>
  <div class="fabula-li">
    <i class="fas fa-person-running"></i>
    {{localize "FABULA_POINTS.USE_SKILL"}}
  </div>
</section>
